<div style="text-align: center; font-size: 16px;">
    <strong>Course:</strong> Machine Learning Operations |
    <strong>Lecturer:</strong> Prof. Dr. Klotz |
    <strong>Date:</strong> 17.05.2025 |
    <strong>Name:</strong> Sofie Pischl
</div>

# <center>Preprocessing</center>

In [61]:
import pandas as pd
from pathlib import Path

In [62]:
BASE_DIR = Path().resolve().parent
raw_dir = (BASE_DIR / "./data/raw").resolve()
processed_dir = (BASE_DIR / "./data/processed").resolve()

tiktok_path = raw_dir / "tiktok_data.csv"
youtube_path = raw_dir / "youtube_data.csv"
reddit_path = raw_dir / "reddit_data.csv"

processed_dir.mkdir(parents=True, exist_ok=True)

In [63]:
df_tiktok = pd.read_csv(tiktok_path)
df_youtube = pd.read_csv(youtube_path)
df_reddit = pd.read_csv(reddit_path)

# Assuming df_tiktok, df_youtube, and df_reddit are your DataFrames
dataframes = {'TikTok': df_tiktok, 'YouTube': df_youtube, 'Reddit': df_reddit}

for name, df in dataframes.items():
    df.drop_duplicates(inplace=True)
    print(f"{name} DataFrame shape: {df.shape}")

TikTok DataFrame shape: (1771, 20)
YouTube DataFrame shape: (280, 10)
Reddit DataFrame shape: (660, 8)

In [37]:
df_tiktok = pd.read_csv(tiktok_path)
df_youtube = pd.read_csv(youtube_path)
df_reddit = pd.read_csv(reddit_path)

display(df_tiktok.head())
display(df_youtube.head())
display(df_reddit.head())

,id,description,author_username,author_id,likes,shares,comments,plays,video_url,created_time,"{""detail"":""Datei nicht gefunden""}7499178369544621334",Unnamed: 1,zah1de_kyc,6836358130437211142,747600,8890,6626,6600000,Unnamed: 8,1746038530
0,7493469801654881542,#vairalvideo_foryoupage #üá¶üá´ÿßÿ≤ÿ®⁄©_ÿ™ÿßÿ¨⁄©_Ÿæÿ¥ÿ™ŸàŸÜ_ÿ™ÿ±...,afgcap.cut,7461541069958153234,15800,451,258,365200,https://v16-webapp-prime.tiktok.com/video/tos/...,1744709406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7489427780397010198,#imapoliceofficer #tensheet #foryou #viral #fy...,backwheelbandit69,7416366442453632032,4300000,303800,11300,41900000,https://v16-webapp-prime.tiktok.com/video/tos/...,1743768297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7492000423641959685,#CapCut #ŸÇŸàÿßŸÑÿ®_ŸÉÿßÿ®_ŸÉÿßÿ™_ÿ¨ÿßŸáÿ≤Ÿá_ŸÑŸÑÿ™ÿµŸÖŸäŸÖ__üå¥‚ô• #ŸÉÿßÿ®_...,noordeen_cap_cat_0_1,7322835376556442629,58400,1576,451,1300000,https://v16-webapp-prime.tiktok.com/video/tos/...,1744367290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7472584144510373125,i think it was a bad idea,maligoshik,7014608336423617542,18000000,1300000,24000,168600000,https://v16-webapp-prime.tiktok.com/video/tos/...,1739846584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7461927005689302280,welcome to the thanos world!! #squidgame #squi...,team_thanos_player230,7455509281098515474,261400,9526,13000,12400000,https://webapp-sg.tiktok.com/bf63b8aa40b9ff0ca...,1737365272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,video_id,title,description,channel_title,published_at,view_count,like_count,comment_count,url,scraped_at,trending_date
0,-K8jSo03dEk,"planes if they were 10,000 times better",Get NordVPN‚Äôs 2 year plan + 4 extra months fre...,Ice Cream Sandwich,2025-05-03T02:01:54Z,863723,81195,4095,https://www.youtube.com/watch?v=-K8jSo03dEk,2025-05-04T09:00:05.550214,2025-05-04
1,-K8jSo03dEk,"planes if they were 10,000 times better",Get NordVPN‚Äôs 2 year plan + 4 extra months fre...,Ice Cream Sandwich,2025-05-03T02:01:54Z,672165,70087,3687,https://www.youtube.com/watch?v=-K8jSo03dEk,2025-05-03 21:21:46.655831,NaN
2,1B9ZXxjcb6U,So bringst du Giersch unter Kontrolle - naturn...,"Re-Upload wegen falscher botanischer Namen, en...",ReNature,2025-05-01T15:47:10Z,287634,1362,200,https://www.youtube.com/watch?v=1B9ZXxjcb6U,2025-05-04T09:00:05.550214,2025-05-04
3,1B9ZXxjcb6U,So bringst du Giersch unter Kontrolle - naturn...,"Re-Upload wegen falscher botanischer Namen, en...",ReNature,2025-05-01T15:47:10Z,49885,850,123,https://www.youtube.com/watch?v=1B9ZXxjcb6U,2025-05-02 13:39:04.599815,NaN
4,1DiY1Lz4IRs,ELIGELLAS COMEBACK!üòç Sidney x Jello am zaubern...,"Aufgepasst, ihr bekommt 20 ‚Ç¨ geschenkt! Wie? E...",SidneyEweka,2025-04-28T13:52:42Z,375296,22600,962,https://www.youtube.com/watch?v=1DiY1Lz4IRs,2025-05-02 13:39:04.599815,NaN

,"{""detail"":""Datei nicht gefunden""}all",Do Republicans Realize It‚Äôs Not Just Democrats - The Whole World Looks at Them with Disgust,"Republicans keep acting like this is just a culture war, as if it's about DEI, immigrants, or whatever grievance of the week gets them riled up. But what they‚Äôre enabling under Trump isn‚Äôt a debate. It‚Äôs a global threat, and the rest of the world sees it clearly.\r\n\r\nTrump has insulted allies, threatened to abandon NATO, and pulled the U.S. out of the Paris Climate Accord again. He has imposed tariffs on Canada and Germany out of spite, joked about annexing Canada, and treated diplomacy like a reality show. These are not policies. They are provocations, and they are shaking the global order.\r\n\r\nNow he has pulled back support for Ukraine, unraveling years of unity and leaving Europe to question whether the U.S. can still be trusted.\r\n\r\nRepublicans have already made clear they don't care how this affects people here. But they seem equally indifferent to the fact that it's dragging the rest of the world down with them. Their loyalty to Trump is wrecking alliances, stalling climate action, emboldening dictators, and unraveling decades of shared progress.\r\n\r\nTo much of the world, it looks like insanity - a country sabotaging the very systems it built, while millions cheer it on like a sport. This isn‚Äôt just short-sighted. It's a betrayal of everything we once stood for, both at home and abroad. The world is not confused. They're disgusted. And they‚Äôre right to be.\r\n\r\n\r\nEdit:\r\n\r\nI just realized every so-called right-wing reply in this sub comes from a negative karma troll account. Seriously check accounts - negative 60, negative 100, every time. Are you guys bots, trolls, or just Republicans who can‚Äôt post from a real profile? You need a burner just to spread MAGA filth? This is crazy.",7264,1612,2025-05-02 06:11:52,https://www.reddit.com/r/AskUS/comments/1kcu1gh/do_republicans_realize_its_not_just_democrats_the/,2025-05-02 14:01:13.027831,subreddit,title,text,score,comments,created,url,scraped_at
0,all,AITAH for refusing to pay my friend for a cust...,My (28F) friend (30F) is a self-taught baker w...,9027.0,1661.0,2025-05-02 05:23:14,https://www.reddit.com/r/AITAH/comments/1kctb2...,2025-05-02 14:01:13.027831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545.0,1044.0,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137.0,247.0,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600.0,777.0,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,all,What‚Äôs a subtle sign that someone has been thr...,NaN,3355.0,1469.0,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905

In [40]:
#drop dulpicates
for df in [df_tiktok, df_youtube, df_reddit]:
    df.drop_duplicates(inplace=True)

In [41]:
# Assuming df_tiktok, df_youtube, and df_reddit are your DataFrames
dataframes = {'TikTok': df_tiktok, 'YouTube': df_youtube, 'Reddit': df_reddit}

for name, df in dataframes.items():
    df.drop_duplicates(inplace=True)
    print(f"{name} DataFrame shape: {df.shape}")

TikTok DataFrame shape: (1771, 20)
YouTube DataFrame shape: (280, 11)
Reddit DataFrame shape: (661, 16)

# Preprocess Reddit data

In [43]:
# Reddit-Daten einlesen
df_reddit = pd.read_csv(reddit_path, 
                        encoding='utf-8',
                        parse_dates=['created', 'scraped_at'],
                        error_bad_lines=False,  # Ignoriere fehlerhafte Zeilen
                        warn_bad_lines=True)    # Zeige Warnungen f√ºr fehlerhafte Zeilen

# Konvertiere Datumsspalten nach dem Einlesen
if 'created' in df_reddit.columns:
    df_reddit['created'] = pd.to_datetime(df_reddit['created'])
if 'scraped_at' in df_reddit.columns:
    df_reddit['scraped_at'] = pd.to_datetime(df_reddit['scraped_at'])

# Doppelte Spalten entfernen und nur die relevanten behalten
relevant_columns = ['subreddit', 'title', 'text', 'score', 'comments', 'created', 'url', 'scraped_at']
existing_columns = [col for col in relevant_columns if col in df_reddit.columns]
df_reddit = df_reddit[existing_columns].copy()

# NaN-Werte entfernen
df_reddit = df_reddit.dropna(subset=['subreddit', 'title'])

# Erste Zeilen anzeigen
print("\nErste 5 Zeilen der Daten:")
display(df_reddit.head())

# Info √ºber den Datensatz
print("\nInformationen √ºber den Datensatz:")
print(df_reddit.info())

Erste 5 Zeilen der Daten:

,subreddit,title,text,score,comments,created,url,scraped_at
1,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545.0,1044.0,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137.0,247.0,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600.0,777.0,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,all,What‚Äôs a subtle sign that someone has been thr...,NaN,3355.0,1469.0,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905
5,all,TIFU by trying to flirt with a guy at the gym ...,So this happened yesterday and I‚Äôm still cring...,2138.0,174.0,2025-05-03 04:05:08,https://www.reddit.com/r/tifu/comments/1kdk6o7...,2025-05-03 08:58:16.134905

Informationen √ºber den Datensatz:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 1 to 660
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subreddit   660 non-null    object
 1   title       660 non-null    object
 2   text        618 non-null    object
 3   score       660 non-null    float64
 4   comments    660 non-null    float64
 5   created     660 non-null    datetime64[ns]
 6   url         660 non-null    object
 7   scraped_at  645 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 46.4+ KB
None

In [45]:
# Fehlende scraped_at-Werte durch created-Zeit ersetzen
df_reddit['scraped_at'] = df_reddit['scraped_at'].fillna(df_reddit['created'])

# Fehlende Textwerte durch leere Strings ersetzen
df_reddit['text'] = df_reddit['text'].fillna("")

# In Integer umwandeln
df_reddit['score'] = df_reddit['score'].astype(int)
df_reddit['comments'] = df_reddit['comments'].astype(int)

print(df_reddit.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 1 to 660
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subreddit   660 non-null    object
 1   title       660 non-null    object
 2   text        660 non-null    object
 3   score       660 non-null    int64
 4   comments    660 non-null    int64
 5   created     660 non-null    datetime64[ns]
 6   url         660 non-null    object
 7   scraped_at  660 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 46.4+ KB
None

In [46]:
df_reddit

,subreddit,title,text,score,comments,created,url,scraped_at
1,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545,1044,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137,247,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600,777,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,all,What‚Äôs a subtle sign that someone has been thr...,,3355,1469,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905
5,all,TIFU by trying to flirt with a guy at the gym ...,So this happened yesterday and I‚Äôm still cring...,2138,174,2025-05-03 04:05:08,https://www.reddit.com/r/tifu/comments/1kdk6o7...,2025-05-03 08:58:16.134905
...,...,...,...,...,...,...,...,...
656,all,Apple to move production of US iPhones from Ch...,https://finance.yahoo.com/news/apple-move-prod...,1533,293,2025-04-25 13:09:30,https://www.reddit.com/r/wallstreetbets/commen...,2025-04-25 14:44:08.319034
657,popular,Da Wei isn't satisfied with Amphoreus (From hi...,[Da Wei's speech yesterday at National Chiao T...,2254,641,2025-04-25 06:32:32,https://www.reddit.com/r/HonkaiStarRail/commen...,2025-04-25 14:44:08.319034
658,popular,What‚Äôs a ‚Äúharmless‚Äù thing from your childhood ...,,2427,1936,2025-04-25 05:22:13,https://www.reddit.com/r/AskReddit/comments/1k...,2025-04-25 14:45:07.469395
659,trendingreddits,We are open again!,,3,2,2024-09-27 20:14:11,https://www.reddit.com/r/TrendingReddits/comme...,2025-04-25 14:45:07.469395
660,trendingreddits,https://shrinkme.ink/0VUpb,,1,0,2025-04-22 13:04:40,https://www.reddit.com/r/TrendingReddits/comme...,2025-04-25 14:45:07.469395

# Tiktok

In [48]:
df_tiktok

,id,description,author_username,author_id,likes,shares,comments,plays,video_url,created_time,"{""detail"":""Datei nicht gefunden""}7499178369544621334",Unnamed: 1,zah1de_kyc,6836358130437211142,747600,8890,6626,6600000,Unnamed: 8,1746038530
0,7493469801654881542,#vairalvideo_foryoupage #üá¶üá´ÿßÿ≤ÿ®⁄©_ÿ™ÿßÿ¨⁄©_Ÿæÿ¥ÿ™ŸàŸÜ_ÿ™ÿ±...,afgcap.cut,7461541069958153234,15800,451,258,365200,https://v16-webapp-prime.tiktok.com/video/tos/...,1744709406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7489427780397010198,#imapoliceofficer #tensheet #foryou #viral #fy...,backwheelbandit69,7416366442453632032,4300000,303800,11300,41900000,https://v16-webapp-prime.tiktok.com/video/tos/...,1743768297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7492000423641959685,#CapCut #ŸÇŸàÿßŸÑÿ®_ŸÉÿßÿ®_ŸÉÿßÿ™_ÿ¨ÿßŸáÿ≤Ÿá_ŸÑŸÑÿ™ÿµŸÖŸäŸÖ__üå¥‚ô• #ŸÉÿßÿ®_...,noordeen_cap_cat_0_1,7322835376556442629,58400,1576,451,1300000,https://v16-webapp-prime.tiktok.com/video/tos/...,1744367290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7472584144510373125,i think it was a bad idea,maligoshik,7014608336423617542,18000000,1300000,24000,168600000,https://v16-webapp-prime.tiktok.com/video/tos/...,1739846584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7461927005689302280,welcome to the thanos world!! #squidgame #squi...,team_thanos_player230,7455509281098515474,261400,9526,13000,12400000,https://webapp-sg.tiktok.com/bf63b8aa40b9ff0ca...,1737365272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.493232e+18,@Sara,asaliraniii,1.254118e+17,60900.0,632.0,358.0,811600.0,NaN,1.744654e+09
2835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.495487e+18,rude,haleyybaylee,6.800577e+18,2200000.0,392800.0,15800.0,16900000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1.745179e+09
2837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.495463e+18,#CapCut #ÿ¥ÿπÿ®_ÿßŸÑÿµŸäŸÜŸä_ŸÖÿßŸÑŸá_ÿ≠ŸÑüòÇüòÇ #ÿ™ÿµŸÖŸäŸÖ_ŸÅŸäÿØŸäŸàŸáÿßÿ™üé∂...,abdellahimokhtar5,7.162264e+18,4307.0,69.0,147.0,107400.0,https://webapp-sg.tiktok.com/1d5fdac519fa69a7e...,1.745173e+09
2839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.497656e+18,Calm Beach Day‚Ä¶ Until the Wave Took Over #tsun...,ai_reelhub,7.376064e+18,186100.0,35500.0,7279.0,12000000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1.745684e+09
2840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.496006e+18,NaN,digitalguru17,7.322539e+18,3000000.0,726200.0,10600.0,30300000.0,NaN,1.745300e+09

In [51]:

# Einlesen der CSV-Datei
df = pd.read_csv(tiktok_path)

# Behalte nur die ersten 10 relevanten Spalten
relevant_columns = [
    'id', 'description', 'author_username', 'author_id',
    'likes', 'shares', 'comments', 'plays', 'video_url', 'created_time'
]
df = df[relevant_columns]

# Spalten umbenennen f√ºr bessere Lesbarkeit
df = df.rename(columns={
    'author_username': 'username',
    'author_id': 'user_id',
    'created_time': 'timestamp'
})

# Numerische Spalten als int konvertieren
numeric_cols = ['likes', 'shares', 'comments', 'plays']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Entferne Zeilen, wo alle wichtigen Metriken NaN sind
df = df.dropna(subset=['likes', 'shares', 'comments', 'plays'], how='all')


print("Dataframe Info:")
print(df.info())
print("\nErste 5 Zeilen:")
display(df)

Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 0 to 2895
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           471 non-null    object
 1   description  420 non-null    object
 2   username     471 non-null    object
 3   user_id      471 non-null    object
 4   likes        471 non-null    float64
 5   shares       471 non-null    float64
 6   comments     471 non-null    float64
 7   plays        471 non-null    float64
 8   video_url    290 non-null    object
 9   timestamp    471 non-null    object
dtypes: float64(4), object(6)
memory usage: 40.5+ KB
None

Erste 5 Zeilen:

,id,description,username,user_id,likes,shares,comments,plays,video_url,timestamp
0,7493469801654881542,#vairalvideo_foryoupage #üá¶üá´ÿßÿ≤ÿ®⁄©_ÿ™ÿßÿ¨⁄©_Ÿæÿ¥ÿ™ŸàŸÜ_ÿ™ÿ±...,afgcap.cut,7461541069958153234,15800.0,451.0,258.0,365200.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1744709406
1,7489427780397010198,#imapoliceofficer #tensheet #foryou #viral #fy...,backwheelbandit69,7416366442453632032,4300000.0,303800.0,11300.0,41900000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1743768297
2,7492000423641959685,#CapCut #ŸÇŸàÿßŸÑÿ®_ŸÉÿßÿ®_ŸÉÿßÿ™_ÿ¨ÿßŸáÿ≤Ÿá_ŸÑŸÑÿ™ÿµŸÖŸäŸÖ__üå¥‚ô• #ŸÉÿßÿ®_...,noordeen_cap_cat_0_1,7322835376556442629,58400.0,1576.0,451.0,1300000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1744367290
3,7472584144510373125,i think it was a bad idea,maligoshik,7014608336423617542,18000000.0,1300000.0,24000.0,168600000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1739846584
4,7461927005689302280,welcome to the thanos world!! #squidgame #squi...,team_thanos_player230,7455509281098515474,261400.0,9526.0,13000.0,12400000.0,https://webapp-sg.tiktok.com/bf63b8aa40b9ff0ca...,1737365272
...,...,...,...,...,...,...,...,...,...,...
2891,7498756837186030870,Sa t√™te üòÇüòÇ,emilie_kayliah,6750720589886014470,49400.0,2597.0,200.0,6400000.0,NaN,1745940385
2892,7469160918803303702,NaN,sara.k.r.m,6839719195236844550,131400.0,5323.0,12300.0,3200000.0,NaN,1739049548
2893,7496006030724222238,NaN,digitalguru17,7322539237247714346,3000000.0,726400.0,10600.0,30400000.0,NaN,1745299978
2894,7497008801254493462,How to sign the letter E?‚ù§Ô∏è,i_love_y03,7117213873258218501,231400.0,8460.0,2213.0,15200000.0,NaN,1745533391
2895,7489932324423978262,#fyp #videoviral #relatable #ukcomedy,amzszinotv,7196125982942643205,5100000.0,948200.0,18600.0,42400000.0,https://v16-webapp-prime.tiktok.com/video/tos/...,1743885767

In [ ]:
# Reddit-Daten einlesen
df_reddit = pd.read_csv(reddit_path, 
                        encoding='utf-8',
                        parse_dates=['created', 'scraped_at'],
                        error_bad_lines=False,  # Ignoriere fehlerhafte Zeilen
                        warn_bad_lines=True)    # Zeige Warnungen f√ºr fehlerhafte Zeilen

# Konvertiere Datumsspalten nach dem Einlesen
if 'created' in df_reddit.columns:
    df_reddit['created'] = pd.to_datetime(df_reddit['created'])
if 'scraped_at' in df_reddit.columns:
    df_reddit['scraped_at'] = pd.to_datetime(df_reddit['scraped_at'])

# Doppelte Spalten entfernen und nur die relevanten behalten
relevant_columns = ['subreddit', 'title', 'text', 'score', 'comments', 'created', 'url', 'scraped_at']
existing_columns = [col for col in relevant_columns if col in df_reddit.columns]
df_reddit = df_reddit[existing_columns].copy()

# NaN-Werte entfernen
df_reddit = df_reddit.dropna(subset=['subreddit', 'title'])

# Erste Zeilen anzeigen
print("\nErste 5 Zeilen der Daten:")
display(df_reddit.head())

# Info √ºber den Datensatz
print("\nInformationen √ºber den Datensatz:")
print(df_reddit.info())

Erste 5 Zeilen der Daten:

,subreddit,title,text,score,comments,created,url,scraped_at
1,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545.0,1044.0,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137.0,247.0,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600.0,777.0,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,all,What‚Äôs a subtle sign that someone has been thr...,NaN,3355.0,1469.0,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905
5,all,TIFU by trying to flirt with a guy at the gym ...,So this happened yesterday and I‚Äôm still cring...,2138.0,174.0,2025-05-03 04:05:08,https://www.reddit.com/r/tifu/comments/1kdk6o7...,2025-05-03 08:58:16.134905

Informationen √ºber den Datensatz:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 1 to 660
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subreddit   660 non-null    object
 1   title       660 non-null    object
 2   text        618 non-null    object
 3   score       660 non-null    float64
 4   comments    660 non-null    float64
 5   created     660 non-null    datetime64[ns]
 6   url         660 non-null    object
 7   scraped_at  645 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 46.4+ KB
None

In [ ]:
# Reddit-Daten einlesen
df_reddit = pd.read_csv(reddit_path, 
                        encoding='utf-8',
                        parse_dates=['created', 'scraped_at'],
                        error_bad_lines=False,  # Ignoriere fehlerhafte Zeilen
                        warn_bad_lines=True)    # Zeige Warnungen f√ºr fehlerhafte Zeilen

# Konvertiere Datumsspalten nach dem Einlesen
if 'created' in df_reddit.columns:
    df_reddit['created'] = pd.to_datetime(df_reddit['created'])
if 'scraped_at' in df_reddit.columns:
    df_reddit['scraped_at'] = pd.to_datetime(df_reddit['scraped_at'])

# Doppelte Spalten entfernen und nur die relevanten behalten
relevant_columns = ['subreddit', 'title', 'text', 'score', 'comments', 'created', 'url', 'scraped_at']
existing_columns = [col for col in relevant_columns if col in df_reddit.columns]
df_reddit = df_reddit[existing_columns].copy()

# NaN-Werte entfernen
df_reddit = df_reddit.dropna(subset=['subreddit', 'title'])

# Erste Zeilen anzeigen
print("\nErste 5 Zeilen der Daten:")
display(df_reddit.head())

# Info √ºber den Datensatz
print("\nInformationen √ºber den Datensatz:")
print(df_reddit.info())

Erste 5 Zeilen der Daten:

,subreddit,title,text,score,comments,created,url,scraped_at
1,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545.0,1044.0,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137.0,247.0,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600.0,777.0,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,all,What‚Äôs a subtle sign that someone has been thr...,NaN,3355.0,1469.0,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905
5,all,TIFU by trying to flirt with a guy at the gym ...,So this happened yesterday and I‚Äôm still cring...,2138.0,174.0,2025-05-03 04:05:08,https://www.reddit.com/r/tifu/comments/1kdk6o7...,2025-05-03 08:58:16.134905

Informationen √ºber den Datensatz:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 1 to 660
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subreddit   660 non-null    object
 1   title       660 non-null    object
 2   text        618 non-null    object
 3   score       660 non-null    float64
 4   comments    660 non-null    float64
 5   created     660 non-null    datetime64[ns]
 6   url         660 non-null    object
 7   scraped_at  645 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 46.4+ KB
None

In [ ]:
# Reddit-Daten einlesen
df_reddit = pd.read_csv(reddit_path, 
                        encoding='utf-8',
                        parse_dates=['created', 'scraped_at'],
                        error_bad_lines=False,  # Ignoriere fehlerhafte Zeilen
                        warn_bad_lines=True)    # Zeige Warnungen f√ºr fehlerhafte Zeilen

# Konvertiere Datumsspalten nach dem Einlesen
if 'created' in df_reddit.columns:
    df_reddit['created'] = pd.to_datetime(df_reddit['created'])
if 'scraped_at' in df_reddit.columns:
    df_reddit['scraped_at'] = pd.to_datetime(df_reddit['scraped_at'])

# Doppelte Spalten entfernen und nur die relevanten behalten
relevant_columns = ['subreddit', 'title', 'text', 'score', 'comments', 'created', 'url', 'scraped_at']
existing_columns = [col for col in relevant_columns if col in df_reddit.columns]
df_reddit = df_reddit[existing_columns].copy()

# NaN-Werte entfernen
df_reddit = df_reddit.dropna(subset=['subreddit', 'title'])

# Erste Zeilen anzeigen
print("\nErste 5 Zeilen der Daten:")
display(df_reddit.head())

# Info √ºber den Datensatz
print("\nInformationen √ºber den Datensatz:")
print(df_reddit.info())

Erste 5 Zeilen der Daten:

,subreddit,title,text,score,comments,created,url,scraped_at
1,all,She erased us from her wedding. So I‚Äôm erasing...,"When my brother got married, his bride (now my...",4545.0,1044.0,2025-05-03 05:19:53,https://www.reddit.com/r/pettyrevenge/comments...,2025-05-03 08:58:16.134905
2,all,UPDATE: AITAH for telling my MIL to stop calli...,I just want to give you an update about by sit...,4137.0,247.0,2025-05-03 01:38:25,https://www.reddit.com/r/AITAH/comments/1kdhk8...,2025-05-03 08:58:16.134905
3,all,"Conservatives, if you cared about Hunter Biden...",Republicans claim that foreign businesses and ...,3600.0,777.0,2025-05-03 01:34:29,https://www.reddit.com/r/AskUS/comments/1kdhhk...,2025-05-03 08:58:16.134905
4,all,What‚Äôs a subtle sign that someone has been thr...,NaN,3355.0,1469.0,2025-05-03 01:57:50,https://www.reddit.com/r/AskReddit/comments/1k...,2025-05-03 08:58:16.134905
5,all,TIFU by trying to flirt with a guy at the gym ...,So this happened yesterday and I‚Äôm still cring...,2138.0,174.0,2025-05-03 04:05:08,https://www.reddit.com/r/tifu/comments/1kdk6o7...,2025-05-03 08:58:16.134905

Informationen √ºber den Datensatz:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 1 to 660
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subreddit   660 non-null    object
 1   title       660 non-null    object
 2   text        618 non-null    object
 3   score       660 non-null    float64
 4   comments    660 non-null    float64
 5   created     660 non-null    datetime64[ns]
 6   url         660 non-null    object
 7   scraped_at  645 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 46.4+ KB
None

In [54]:
# Youtube

In [57]:
df_youtube

,video_id,title,description,channel_title,published_at,view_count,like_count,comment_count,url,scraped_at,trending_date
0,-K8jSo03dEk,"planes if they were 10,000 times better",Get NordVPN‚Äôs 2 year plan + 4 extra months fre...,Ice Cream Sandwich,2025-05-03T02:01:54Z,863723,81195,4095,https://www.youtube.com/watch?v=-K8jSo03dEk,2025-05-04T09:00:05.550214,2025-05-04
1,-K8jSo03dEk,"planes if they were 10,000 times better",Get NordVPN‚Äôs 2 year plan + 4 extra months fre...,Ice Cream Sandwich,2025-05-03T02:01:54Z,672165,70087,3687,https://www.youtube.com/watch?v=-K8jSo03dEk,2025-05-03 21:21:46.655831,NaN
2,1B9ZXxjcb6U,So bringst du Giersch unter Kontrolle - naturn...,"Re-Upload wegen falscher botanischer Namen, en...",ReNature,2025-05-01T15:47:10Z,287634,1362,200,https://www.youtube.com/watch?v=1B9ZXxjcb6U,2025-05-04T09:00:05.550214,2025-05-04
3,1B9ZXxjcb6U,So bringst du Giersch unter Kontrolle - naturn...,"Re-Upload wegen falscher botanischer Namen, en...",ReNature,2025-05-01T15:47:10Z,49885,850,123,https://www.youtube.com/watch?v=1B9ZXxjcb6U,2025-05-02 13:39:04.599815,NaN
4,1DiY1Lz4IRs,ELIGELLAS COMEBACK!üòç Sidney x Jello am zaubern...,"Aufgepasst, ihr bekommt 20 ‚Ç¨ geschenkt! Wie? E...",SidneyEweka,2025-04-28T13:52:42Z,375296,22600,962,https://www.youtube.com/watch?v=1DiY1Lz4IRs,2025-05-02 13:39:04.599815,NaN
...,...,...,...,...,...,...,...,...,...,...,...
275,gwZUT6c-LNM,"Diese Stadt bezahlt Menschen, damit sie hier l...",Beste kalorienfreie Softdrink Alternative HOLY...,SELTIX,2025-04-22T19:16:57Z,154524,6925,271,https://www.youtube.com/watch?v=gwZUT6c-LNM,2025-04-25 14:45:45.902741,NaN
276,NYNBAxDfgrY,Your Time Machine Broke - At The Worst Time In...,Go to https://brilliant.org/nutshell/ to dive ...,Kurzgesagt ‚Äì In a Nutshell,2025-04-22T14:00:01Z,2914966,128446,6444,https://www.youtube.com/watch?v=NYNBAxDfgrY,2025-04-25 14:45:45.902741,NaN
277,sxTlJD6w5IQ,THANK GOD IT WAS BROKEN - Elder Scrolls OBLIV...,Welcome to 2025 and the Elder Scrolls Oblivion...,The Spiffing Brit,2025-04-22T15:26:02Z,1780207,70146,3083,https://www.youtube.com/watch?v=sxTlJD6w5IQ,2025-04-25 14:45:45.902741,NaN
278,azLcyJnxGYw,I tried the 'Elder Scrolls IV: Oblivion' Remas...,üëâ All my links: https://linktr.ee/lukestephens...,Luke Stephens,2025-04-22T23:10:07Z,735718,22448,4147,https://www.youtube.com/watch?v=azLcyJnxGYw,2025-04-25 14:45:45.902741,NaN
279,yIZRffLA294,How the Trucking Industry Got So Terrible,Go to https://hensonshaving.com/wendover and e...,Wendover Productions,2025-04-22T17:34:13Z,1258121,31654,2765,https://www.youtube.com/watch?v=yIZRffLA294,2025-04-25 14:45:45.902741,NaN

In [58]:
df_youtube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       280 non-null    object
 1   title          280 non-null    object
 2   description    280 non-null    object
 3   channel_title  280 non-null    object
 4   published_at   280 non-null    object
 5   view_count     280 non-null    int64
 6   like_count     280 non-null    int64
 7   comment_count  280 non-null    int64
 8   url            280 non-null    object
 9   scraped_at     280 non-null    object
 10  trending_date  50 non-null     object
dtypes: int64(3), object(8)
memory usage: 26.2+ KB

In [59]:
df_youtube.drop(columns=["trending_date"], inplace=True)

In [60]:
df_youtube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       280 non-null    object
 1   title          280 non-null    object
 2   description    280 non-null    object
 3   channel_title  280 non-null    object
 4   published_at   280 non-null    object
 5   view_count     280 non-null    int64
 6   like_count     280 non-null    int64
 7   comment_count  280 non-null    int64
 8   url            280 non-null    object
 9   scraped_at     280 non-null    object
dtypes: int64(3), object(7)
memory usage: 24.1+ KB